<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
      li {
        text-align: center;
        list-style: none;
        height: 80px;
      }
      .on-seats {
        background: mediumaquamarine;
      }
      .off-seats {
        background: gainsboro;
      }
      .seat{
        height: 80px;
        width: 80px;
        display: inline-block;
        border: 3px solid white;
        box-sizing: border-box;
        text-align: center;
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <v-app>
        <v-container fluid>
          <v-row>
            <!-- タイトル -->
            <v-col cols="12" style="background-color: wheat">
              <h1 class="text-center">席替えメーカー（実装８日目）</h1>
            </v-col>
          </v-row>

          <v-row>
            <!-- 座席テーブル -->
            <v-col cols="6" style="background-color: lightskyblue">
              <p style="text-align: center">生徒の名前を入力してください</p>
              <p style="text-align: center">現在の座席に名前を入力することで、全員移動させることもできます</p>
              <div id="seatArrange">
                <li v-for="( seats, indexRow ) in seatsTable">
                  <textarea v-for="( seat, indexCol ) in seats" :class="getColor( seatsTable[indexRow][indexCol] )"
                  class="seat" @input="writeStudentName( indexRow, indexCol, $event.target.value ); countSeats();"
                  @input.once="pushSeatsTableIndex(indexRow, indexCol);"
                  :key="indexRow.toString() + indexCol.toString()" style="text-align: center;  resize: none; word-break: keep-all"
                  :value="seatsTable[indexRow][indexCol]">
                  </textarea>
                </li>
              </div>
            </v-col>

            <v-col cols="6">
              <v-row>
                <!-- よこの座席数入力フォーム -->
                <v-col cols="6" style="background-color: turquoise">
                  <v-select :items="seatsOptionsX" label="よこの座席数" outlined　v-model.number="seatsSizeX"
                  @change="makeSeatsTable()" style="width:100px"></v-select>
                </v-col>

                <!-- たての座席数入力フォーム -->
                <v-col cols="6" style="background-color: lightseagreen">
                  <v-select :items="seatsOptionsY" label="たての座席数" outlined　v-model.number="seatsSizeY"
                  @change="makeSeatsTable()" style="width:100px"></v-select>
                </v-col>

                <!-- 同じ席にしないかどうかのチェックボックス -->
                <v-col cols="12" style="background-color: orange">
                  <v-checkbox label="現在の座席と異なる座席にする" color="indigo darken-3" value="indigo darken-3"
                  hide-details></v-checkbox>
                </v-col>

                <!-- 最前列に固定する生徒のエクスパンションパネル -->
                <v-col cols="12" style="background-color: hotpink">
                  <v-expansion-panels accordion>
                    <v-expansion-panel>
                      <v-expansion-panel-header>最前列に固定する生徒を入力する</v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <!-- 最前列に固定する生徒の入力フォーム（初期表示のための１つ目） -->
                        <span>
                          <v-select :items="studentsName" placeholder="Aさん" outlined style="width:200px; display: inline-block"
                          @change="addFrontConditions"></v-select>
                        </span>
                        <span v-for="frontCondition in frontConditions">
                          <v-select :items="studentsName" placeholder="Aさん" outlined style="width:200px; display: inline-block"
                          @change="addFrontConditions"></v-select>
                        </span>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-col>

                <!-- 近づける生徒のエクスパンションパネル -->
                <v-col cols="12" style="background-color: burlywood">
                  <v-expansion-panels accordion>
                    <v-expansion-panel>
                      <v-expansion-panel-header>近づける生徒を入力する</v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <!-- 近づける生徒の入力フォーム（初期表示のための１つ目） -->
                        <div>
                          <v-select :items="studentsName" placeholder="Aさん" outlined style="width:200px; display: inline-block"
                          @change="setNearConditionOption1"></v-select>
                          と
                          <v-select :items="studentsName" placeholder="Bさん" outlined style="width:200px; display: inline-block"
                          @change="setNearConditionOption2"></v-select>
                          の間を
                          <v-select :items="distanceOptions" outlined style="width:70px; display: inline-block"
                          @change="addNearConditions"></v-select>
                          以下にする
                        </div>
                        <!-- 近づける生徒の入力フォーム（追加表示のための２つ目以降） -->
                        <div v-for="nearCondition in nearConditions">
                          <v-select :items="studentsName" placeholder="Aさん" outlined style="width:200px; display: inline-block"
                          @change="setNearConditionOption1"></v-select>
                          と
                          <v-select :items="studentsName" placeholder="Bさん" outlined style="width:200px; display: inline-block"
                          @change="setNearConditionOption2"></v-select>
                          の間を
                          <v-select :items="distanceOptions" outlined style="width:70px; display: inline-block"
                          @change="addNearConditions"></v-select>
                          以下にする
                        </div>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-col>

                <!-- 離す生徒のエクスパンションパネル -->
                <v-col cols="12" style="background-color: lightgreen">
                  <v-expansion-panels accordion>
                    <v-expansion-panel>
                      <v-expansion-panel-header>離す生徒を入力する</v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <!-- 離す生徒の入力フォーム（初期表示のための１つ目） -->
                        <div>
                          <v-select :items="studentsName" placeholder="Aさん" outlined style="width:200px; display: inline-block"
                          @change="setFarConditionOption1"></v-select>
                          と
                          <v-select :items="studentsName" placeholder="Bさん" outlined style="width:200px; display: inline-block"
                          @change="setFarConditionOption2"></v-select>
                          の間を
                          <v-select :items="distanceOptions" outlined style="width:70px; display: inline-block"
                          @change="addFarConditions"></v-select>
                          以下にする
                        </div>
                        <!-- 離す生徒の入力フォーム（追加表示のための２つ目以降） -->
                        <div v-for="farCondition in farConditions">
                          <v-select :items="studentsName" placeholder="Aさん" outlined style="width:200px; display: inline-block"
                          @change="setFarConditionOption1"></v-select>
                          と
                          <v-select :items="studentsName" placeholder="Bさん" outlined style="width:200px; display: inline-block"
                          @change="setFarConditionOption2"></v-select>
                          の間を
                          <v-select :items="distanceOptions" outlined style="width:70px; display: inline-block"
                          @change="addFarConditions"></v-select>
                          以下にする
                        </div>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-col>


                <!-- 現在の有効な座席数を表示 -->
                <v-col cols="12" style="background-color: violet">
                  選択された座席数：{{ seats_num }}
                </v-col>

                <!-- 席替えボタン -->
                <v-col cols="12" style="background-color: khaki">
                  <v-btn elevation="2" outlined @click="changeSeats">席替え！</v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>


          <!-- 以下デバッグ用表示 -->
          <v-row>
            <v-col cols="12" style="background-color: palevioletred">
              <h1 class="text-center">以下デバッグ用</h1>
            </v-col>
          </v-row>

          <v-row>
            <!-- 席替え後の座席テーブル -->
            <v-col cols="6" style="background-color: lightsteelblue">
              <div id="nextSeatArrange">
                <p style="text-align: center">席替え後の座席</p>
                <li v-for="( nextSeats, indexRow ) in nextSeatsTable">
                  <textarea v-for="( seat, indexCol ) in nextSeats" class="seat"
                  :class="getColor( nextSeatsTable[indexRow][indexCol] )"
                  :key="indexRow.toString() + indexCol.toString()" style="text-align: center;  resize: none; word-break: keep-all"
                  :value="nextSeatsTable[indexRow][indexCol]">
                  </textarea>
                </li>
              </div>
            </v-col>
            <v-col cols="6">
              <v-row>
                <v-col cols="12" style="background-color: khaki">
                  <p>有効な座席のインデックス配列</p>
                  {{ seatsTableIndex }}
                  <p>有効な座席のインデックス配列の複製</p>
                  {{ dupSeatsTableIndex }}
                  <p>最前列の座席のインデックス配列</p>
                  {{ frontSeatsIndex }}
                  <p>最前列の座席のインデックス配列の複製</p>
                  {{ dupFrontSeatsIndex }}
                </v-col>
                <v-col cols="6"  style="background-color: lightsalmon">
                  <div>
                    <p>現在の座席記憶用テーブル</p>
                    <p v-for="seats in seatsTable">{{ seats }}</p>
                  </div>
                </v-col>
                <v-col cols="6"  style="background-color: palegreen">
                  <div>
                    <p>席替え後の座席記憶用テーブル</p>
                    <p v-for="nextSeats in nextSeatsTable">{{ nextSeats }}</p>
                  </div>
                </v-col>
                <v-col cols="6" style="background-color: plum">
                  <p>最前列に固定する生徒</p>
                  {{ frontConditions }}
                  <p>近づける条件用配列</p>
                  {{ nearConditions }}
                  <p>離す条件用配列</p>
                  {{ farConditions }}
                </v-col>
                <v-col cols="6" style="background-color: paleturquoise">
                  <p>生徒の名前用配列</p>
                  {{ studentsName }}
                  <p>生徒の名前用配列の複製</p>
                  {{ dupStudentsName }}
                </v-col>
              </v-row>
            </v-col>
          </v-row>

        </v-container>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script>
      const app = new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: {
          seatsSizeY: 6, // デフォルト値は6
          seatsSizeX: 6, // デフォルト値は6
          seatsTable: [], // 座席テーブル
          seats_num: 0, // 有効な座席数
          seatsOptionsX: [1,2,3,4,5,6,7,8], // よこの座席数入力フォームの選択肢
          seatsOptionsY: [1,2,3,4,5,6,7,8], // たての座席数入力フォームの選択肢
          distanceOptions: [1,2,3,4,5,6,7,8], // 近づける・離す距離の選択肢
          studentsName: [], // 生徒の名前配列、席替えボタンが2回以上押されたときに元の生徒名を記憶しておくため
          dupStudentsName: [], // 生徒の名前配列の複製、席替えの際に破壊的にデータを取り出していく
          nearConditions: [], // 近づける条件
          nearConditionOption1: '', // 近づける生徒1
          nearConditionOption2: '', // 近づける生徒2
          farConditions: [], // 離す条件
          farConditionOption1: '', // 離す生徒1
          farConditionOption2: '', // 離す生徒2
          frontConditions: [], // 最前列に固定する生徒
          nextSeatsTable: [], // 席替え後の座席テーブル
          tempRow: '', // 2次元配列をリアクティブに更新するために、2次元配列の要素である1次元配列を退避
          seatsTableIndex: [], // 座席テーブル上の有効な座席のインデックス
          dupSeatsTableIndex: [], // 座席テーブル上の有効な座席のインデックスの複製、席替えの際に破壊的にデータを取り出していく
          frontSeatsIndex: [], // 最前列のインデックス
          dupFrontSeatsIndex: [], // 最前列のインデックスの複製、席替えの際に破壊的にデータを取り出していく
        },
        methods: {
          getColor(seat) { // 座席の種類に応じた色を返す
            if (seat === '') return 'off-seats'
            else return 'on-seats'
          },
          writeStudentName(indexRow, indexCol, name) { // 引数で受け取った座席の有効・無効を切り替える
            this.seatsTable[indexRow].splice(indexCol, 1, name)
          },
          makeSeatsTable() { // seatsTableを作成
            this.seatsTable = []
            for(let i = 0; i < this.seatsSizeY; i++) {
              this.seatsTable.push( Array(this.seatsSizeX).fill('') ) // すべての席に名前が未入力な状態でテーブルを作成
            }
            /* テストのため始めから入力
            this.seatsTable.splice(0, 1, ['菊本さん', '', '', '', '大地さん', '']);
            this.seatsTable.splice(1, 1, ['', '', 'たかこ\nさん', '', '', '']);
            this.seatsTable.splice(2, 1, ['', '廣瀬さん', '', '', 'ののか\nさん', '']);
            this.seatsTable.splice(3, 1, ['', '', '', '平尾さん', '', 'かんぬ\nさん']);
             ここまで */
            this.countSeats();
          },
          countSeats() { // 有効な座席数をカウント
            this.seats_num = 0;
            this.seatsTable.forEach(seats => {
              seats.forEach(seat => {
                if (seat !== '') this.seats_num += 1
              })
            })
          },
          setNearConditionOption1(nearConditionOption1) { // 近づける条件で指定する生徒1を登録
            this.nearConditionOption1 = nearConditionOption1;
          },
          setNearConditionOption2(nearConditionOption2) {　// 近づける条件で指定する生徒2を登録
            this.nearConditionOption2 = nearConditionOption2;
          },
          addNearConditions(distance) { // 生徒1と生徒2を近づける条件を登録
            this.nearConditions.push({nearConditionOption1: this.nearConditionOption1,
                                      nearConditionOption2: this.nearConditionOption2,
                                      distance: distance})
          },
          setFarConditionOption1(farConditionOption1) { // 離す条件で指定する生徒1を登録
            this.farConditionOption1 = farConditionOption1;
          },
          setFarConditionOption2(farConditionOption2) { // 離す条件で指定する生徒2を登録
            this.farConditionOption2 = farConditionOption2;
          },
          addFarConditions(distance) { // 生徒1と生徒2を離す条件を登録
            this.farConditions.push({farConditionOption1: this.farConditionOption1,
                                      farConditionOption2: this.farConditionOption2,
                                      distance: distance})
          },
          addFrontConditions(studentName) { // 最前列に固定する条件を要録
            this.frontConditions.push(studentName);
          },
          makeNextSeatsTable() { // nextSeatsTableを作成
            this.nextSeatsTable = []
            for(let i = 0; i < this.seatsSizeY; i++) {
              this.nextSeatsTable.push( Array(this.seatsSizeX).fill('') ) // すべての席に名前が未入力な状態でテーブルを作成
            }
          },
          resetNextSeatsTable() { // nextSeatsTableを空白で初期化
            for(let i = 0; i < this.seatsSizeY; i++) {
              this.nextSeatsTable.splice(i, 1, Array(this.seatsSizeX).fill(''));
            }
          },
          changeSeats() { // 席替え処理
            this.resetNextSeatsTable();
            this.resetFrontSeatsIndex(); // 最前列インデックス配列を空にする
            this.makeFrontSeatsIndex(); // 仮にここに配置
            this.dupSeatsTableIndex = this.seatsTableIndex.slice(0); // 有効な座席のインデックスを複製、席替えの際に破壊的にデータを取り出していく
            this.dupFrontSeatsIndex = this.frontSeatsIndex.slice(0); // 最前列の座席のインデックスを複製、席替えの際に破壊的にデータを取り出していく
            this.dupStudentsName = this.studentsName.slice(0); // 最前列の座席のインデックスを複製、席替えの際に破壊的にデータを取り出していく
            this.changeFrontSeats(); // 最前列に固定する生徒を席替え
            this.shuffleSeats(); // 条件のない生徒を席替え
          },
          pushSeatsTableIndex(indexRow, indexCol) { // 座席テーブルの有効な座席のインデックスをプッシュ
            this.seatsTableIndex.push([indexRow, indexCol]);
          },
          shuffleSeats() { // 条件のない生徒を席替え
            this.shuffle(this.dupSeatsTableIndex); // インデックスをシャッフル
            this.dupStudentsName.forEach(dupStudentName => {
              let topIndex = this.dupSeatsTableIndex.shift(); // シャッフルしたインデックスを格納した配列の先頭を取り出す
              this.nextSeatsTable[topIndex[0]].splice(topIndex[1], 1, dupStudentName); // 取り出したインデックスの位置に生徒名を保存
            })
          },
          shuffle(array) { // 配列をランダムにシャッフル
            for (let i = array.length - 1; i >= 0; i--) {
              const j = Math.floor(Math.random() * (i + 1));
              const tempValue = array[i];
              array.splice(i, 1, array[j]);
              array.splice(j, 1, tempValue);
            }
          },
          makeFrontSeatsIndex() {
            this.seatsTableIndex.forEach(indexArray => {
              if(indexArray[0] === 0) { // 最前列なら
                this.frontSeatsIndex.push(indexArray); // 最前列インデックス配列にインデックスをプッシュ
              }
            })
            //this.frontSeatsIndex
          },
          changeFrontSeats() { // 最前列に固定する生徒を席替え
            this.shuffle(this.dupFrontSeatsIndex);
            this.frontConditions.forEach(frontStudentName => {
              let topIndex = this.dupFrontSeatsIndex.shift(); // シャッフルしたインデックスを格納した配列の先頭を取り出す
              this.nextSeatsTable[topIndex[0]].splice(topIndex[1], 1, frontStudentName); // 取り出したインデックスの位置に生徒名を保存

              let deleteIndex = this.dupSeatsTableIndex.indexOf(topIndex); // changeFrontSeats()で配置した生徒は、shuffleSeats()で配置する必要がないため
              this.dupSeatsTableIndex.splice(deleteIndex, 1); // dupSeatsTableIndexから削除する

              let deleteStudentNameIndex = this.dupStudentsName.indexOf(frontStudentName); // changeFrontSeats()で配置した生徒は、shuffleSeats()で配置する必要がないため
              this.dupStudentsName.splice(deleteStudentNameIndex, 1); // dupStudentsNameから削除する
            })
          },
          resetFrontSeatsIndex() { // 最前列インデックス配列を空にする
            this.frontSeatsIndex.splice(0);
          }
        },
        mounted() {
          this.makeSeatsTable() // 最初にseatsTableを作成
          this.makeNextSeatsTable() // 席替え後用のnextSeatsTableを空白で作成
        },
        watch: {
          seatsTable: {
            handler: function(){
              this.studentsName = Array.prototype.concat.apply([], this.seatsTable); //seatsTableを展開
              this.studentsName = this.studentsName.filter(function(studentName) { //空白を削除
                return studentName !== '';
              })
            },
            deep: true
          }
        }
      });
    </script>
  </body>
</html>
