<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <h1>席替えメーカー</h1>

  <div class="input inputX">
    よこの座席数
    <select v-model.number="seatsSizeX" @change="makeTable()">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
    </select>
  </div>

  <div class="input inputX">
    たての座席数
    <select v-model.number="seatsSizeY" @change="makeTable()">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
    </select>
  </div>

  現在の座席数：{{ seats_num }}

  <div id="seatArrange">
    <li v-for="( seats, indexRow ) in seatsTable">
      <input type="text" v-for="( seat, indexCol ) in seats" class="seat" :class="getColor( seatsTable[indexRow][indexCol] )" @input="activeSeat( indexRow, indexCol ); countSeats()"
      :key="indexRow.toString() + indexCol.toString()">
    </li>
  </div>
</div>


<script>
  const app = new Vue({
    el: "#app",
    data: {
      seatsSizeY: 6, // デフォルト値は6
      seatsSizeX: 6, // デフォルト値は6
      seatsTable: [], // 座席テーブル 座れない座席 -1, 座れる座席 1
      seats_num: 0 // 有効な座席数
    },
    methods: {
      getColor(seat) { // 座席の種類に応じた色を返す
        if(seat === -1)  return 'gray'
        else if (seat === 1) return 'green'
      },
      activeSeat(indexRow, indexCol) { // 引数で受け取った座席の有効、無効を切り替える
        this.seatsTable[indexRow].splice(indexCol, 1, 1)
        console.log(`${indexRow}${indexCol}が入力されたよー`);
        console.log(`${this.seatsTable[indexRow][indexCol]}`);
      },
      makeTable() { // seatsTableを作成
        this.seatsTable = []
        for(let i = 0; i < this.seatsSizeY; i++) {
          this.seatsTable.push( Array(this.seatsSizeX).fill(-1) ) // すべての席に名前が未入力な状態でテーブルを作成
        }
        this.countSeats();
        console.log(`${this.seatsSizeX}x${this.seatsSizeY}でmakeTableを実行したよー`);
      },
      countSeats() { // 有効な座席数をカウント
        this.seats_num = 0;
        this.seatsTable.forEach(seats => {
          seats.forEach(seat => {
            if (seat === 1) this.seats_num += 1
          })
        })
        console.log(this.seats_num);
      }
    },
    mounted() {
      this.makeTable() // 最初にseatsTableを作成
    }
  });
</script>

<style>
  h1 {
    text-align: center;
  }
  li {
    text-align: center;
	  list-style: none;
	  height: 80px;
  }
  .green {
    background: mediumaquamarine;
  }
  .gray{
    background: gainsboro;
  }
  span {
    height: 80px;
    width: 80px;
    display: inline-block;
    background: gainsboro;
    border: 1px solid white;
    box-sizing: border-box;
  }
  .seat{
    height: 80px;
    width: 80px;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
  }
  .input {
    text-align: center;
  }
</style>